@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url("thank.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 99%;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.register h1 {
    color: white;
    text-align: center;
    font-size: 45px;
    height: 60px;
    position: relative;
    cursor: pointer;
    margin: 30px auto;
}

.register h1::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: rgb(226, 144, 226);
    transition: 0.3s ease-in-out;
    transform: scaleX(0);
}

.register h1:hover::after {
    transform: scaleX(1);
    margin-top: 10px;
}

.register p {
    text-align: center;
    font-size: 20px;
    color: white;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    color: white;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    text-transform: uppercase;
    color:pink;
    font-size: 1rem;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
    margin-right: 70px;
    border-radius: 15px;
    cursor: pointer;
    background-color: transparent;
}

.btn:hover {
    background-color :#ea9898;
    color: black;
    box-shadow: 0 0 5px #ea9898,
                0 0 25px #ea9898,
                0 0 50px #ea9898,
                0 0 200px #ea9898;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    
}
.btn span {
    position: absolute;
    display: block;
}

.btn span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animatel 1s infinite;
}

@keyframes animatel {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s infinite;
    animation-delay: .25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    100% {
        top: 100%;
    }
}

.btn span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s infinite;
    animation-delay: .5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    100% {
        right: 100%;
    }
}

.btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s infinite;
    animation-delay: .75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 100%;
    }
}
